// MOLECULE [ NAVIGATION ] ############################################################################################

@import "../../../scss/.base/_module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

.oCard {
  &.testimonials {
    display: flex;
    flex-direction: row;
    max-width: 65%;
    margin: 0 auto;
    padding: 50px 0;
    .oImage {
      flex: 1 1 35%;
      padding-right: 50px;
      .aImage {
        aspect-ratio: 1/1.25;
        max-width: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .oText {
      flex: 1 1 50%;
      font-family: $garetHeavy;
      padding-right: 80px;
      text-align: center;
      align-self: center;

      .mCopy {
        font-family: $garet;
        p {
          color: white;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .aTitle {
      color: white;
      font-family: $garetHeavy;
      margin: 20px auto;
      text-align: center;
    }
  }
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
