// MOLECULE [ NAVIGATION ] ############################################################################################

@import "scss/.base/module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

.oCardList {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #e4e4e4;
}

.aBlockTitle {
  text-align: center;
  margin: 100px auto 50px;
}

.oCards {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  z-index: 2;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  .mCard {
    text-align: center;
    flex: 1 1;
    max-width: 350px;
    &.green {
      .mImage {
        border: 10px solid $green;
      }
      .aTitle {
        color: $green;
      }
    }
    &.yellow {
      .mImage {
        border: 10px solid $yellow;
      }
      .aTitle {
        color: $yellow;
      }
    }
    &.orange {
      .mImage {
        border: 10px solid $orange;
      }
      .aTitle {
        color: $orange;
      }
    }
    .mImage {
      aspect-ratio: 1/1;
      border-radius: 80px;
      background-size: cover;
      background-position: center;
    }
    .aTitle {
      margin-top: 20px;
      font-family: $garetHeavy;
    }
  }
}

.oCardList {
  &.oWhatWeDo {
    gap: 80px;
  }
  &.oChangeMakers {
    background-color: white;
    .aBlockTitle {
      color: $yellow;
      font-family: $garetHeavy;
    }
    .oCards {
      justify-content: flex-start;
      gap: 1%;
      flex-wrap: wrap;
      .mCard {
        &.mOneQuarter {
          flex: 1 1 25%;
          max-width: 24%;
          .mImage {
            max-width: 165px;
            margin: 0 auto 20px;
            border: 15px solid $yellow;
          }
          .mBody {
            color: $yellow;
            font-family: $garetHeavy;
            margin-bottom: 40px;
            .aTitle {
              margin: 0;
            }
          }
        }
      }
    }
  }

  &.oBoard {
    .aBlockTitle {
      color: $green;
      font-family: $garetHeavy;
    }
    .oCards {
      justify-content: flex-start;
      gap: 1%;
      flex-wrap: wrap;
      .mCard {
        &.mOneQuarter {
          flex: 1 1 25%;
          max-width: 24%;
          .mImage {
            max-width: 165px;
            margin: 0 auto 20px;
            border: 15px solid $green;
          }
          .mBody {
            color: $green;
            font-family: $garetHeavy;
            margin-bottom: 40px;
            .aTitle {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.oCtaRegion {
  text-align: center;
  margin-top: 50px;
}

.oOverlays {
  .aCircleThin {
    position: absolute;
    top: 70vh;
    left: 5vw;
    z-index: 1;
    width: 100%;
    max-width: 55px;
    path {
      fill: $grey80;
    }
  }
  .aCircle {
    position: absolute;
    bottom: 2vh;
    right: 5vw;
    z-index: 1;
    width: 100%;
    max-width: 90px;
    path {
      fill: $yellow;
    }
  }
  .aCircleHalf {
    position: absolute;
    top: 0vh;
    right: 0;
    z-index: 0;
    width: 100%;
    max-width: 240px;
    transform: rotate(180deg);
    path {
      fill: $orange;
    }
  }
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
